@import "tailwindcss";


@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-hidden {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    @keyframes flyOutUp {
      0% { transform: scale(1) rotate(0deg); opacity: 1; }
   
      100% { transform: scale(0.1) rotate(0deg); opacity: 0; }
    }

    @keyframes jiggleIn {
      0% { transform: scale(0.1) rotate(0deg); opacity: 0; }
   
      100% { transform: scale(1) rotate(0deg); opacity: 1; }
    }
  }
  
  @theme {
    --breakpoint-xs: 25rem; /* ✅ 400px */
    --animate-flyout: flyOutUp 0.4s ease-in-out;

    --animate-wiggle: jiggleIn 0.4s ease-in-out ;

  }
  