:root {
  --secondary-color-mon-yellow-gradient-straight: linear-gradient(90deg, #FFC136 0%, #FAC142 19.76%, #FFD168 52.5%, #F5BC3A 77.13%, #E09B00 100%);
  --primary-color-blue-gradient-straight: linear-gradient(90deg, #0032A3 0%, #1A51CB 25%, #3B66C8 50%, #1A51CB 75%, #0032A3 100%);
  --Natural-Color-10: #F2F2F2;
  --Natural-Color-0: #FCFCFC;
  --secondary-color-mon-yellow: #EEA500;
  --Primary-Color-Dark-Blue: #002882;
  --Primary-Color-Dark-Blue-10: #E6EAF3;
  --Error-500: #F04438;
  --Natural-color-black: #1A1A1A;
  --Natural-color-gray: #999;
  --Natural-color-gray-20: #CCC;
}


body{
    font-family: Sarabun;
}

.user-select-none{
  user-select: none;
}

button{
  cursor: pointer;
}

.bg-yelow-gradient{
  background: var(--secondary-color-mon-yellow-gradient-straight);
}
.text-yelow-gradient{
  background: var(--secondary-color-mon-yellow-gradient-straight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-blue-gradient{
  background-color: var(--primary-color-blue-gradient-straight);
}
.text-blue-gradient{
  background: var(--primary-color-blue-gradient-straight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-natural-color{
  color: var(--Natural-Color-10);
}
.bg-natural-color{
  background-color: var(--Natural-Color-10);
}
.text-mon-yellow{
  color: var(--secondary-color-mon-yellow);
}
.bg-mon-yellow{
  background-color: var(--secondary-color-mon-yellow);
}
.text-dark-blue{
  color: var(--Primary-Color-Dark-Blue);
}
.bg-dark-blue{
  background-color: var(--Primary-Color-Dark-Blue);
}
.text-dark-blue-10{
  color: var(--Primary-Color-Dark-Blue-10);
}
.bg-dark-blue-10{
  background-color: var(--Primary-Color-Dark-Blue-10);
}
.text-error-500{
  color: var(--Error-500);
}
.bg-error-500{
  background-color: var(--Error-500);
}
.text-natural-black{
  color: var(--Natural-color-black);
}
.bg-natural-black{
  background-color: var(--Natural-color-black);
}
.text-natural-gray{
  color: var(--Natural-color-gray);
}
.bg-natural-gray{
  background-color: var(--Natural-color-gray);
}
.text-natural-gray-20{
  color: var(--Natural-color-gray-20);
}
.bg-natural-gray-20{
  background-color: var(--Natural-color-gray-20);
}
.text-natural-0{
  color: var(--Natural-Color-0);
}
.bg-natural-0{
  background-color: var(--Natural-Color-0);
}

.border-natural-color {
  border-color: var(--Natural-Color-10);
}

.border-mon-yellow {
  border-color: var(--secondary-color-mon-yellow);
}

.border-dark-blue {
  border-color: var(--Primary-Color-Dark-Blue);
}

.border-dark-blue-10 {
  border-color: var(--Primary-Color-Dark-Blue-10);
}

.border-error-500 {
  border-color: var(--Error-500);
}

.border-natural-black {
  border-color: var(--Natural-color-black);
}

.border-natural-gray {
  border-color: var(--Natural-color-gray);
}

.border-natural-gray-20 {
  border-color: var(--Natural-color-gray-20);
}
.border-natural-0 {
  border-color: var(--Natural-Color-0);
}