body{
    font-family: Sarabun;
}
body, #root {
    background: transparent !important;
  }
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  